<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

  <header>
    <nav>
      <ul>
    
        <li><a href="{{ url_for('contactus') }}">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2021 My Website</p>
  </footer>

</body>
</html>
